/* Colours

footer : #bbbdbf
body: #ffffff


*/



/* Main body styling */

.body {
    font-family: 'Istok Web', sans-serif;
    background: #ffffff;
}

.icon{
    height: 100px;
    width: 100px;
}

/* Navbar styling */

.menu {
  background: #ffffff;



}

.menu li {
    background:  #ffffff;
  }

.top-bar {
  background: #ffffff;
  padding-right: 10%;
}

.menu-text {

  background: #ffffff;
  color: black;
  

}


.top-menu {
  background: #ffffff;
}

.menu vertical {
  background: #ffffff;
}



/* footer */

#footer-left {
  padding-left: 15%;  
  color: #ffffff;
  padding-top: 2%;
  background: #bbbdbf;
  color: #ffffff;
    }

#footer-right {
  background: #bbbdbf;
  padding-top: 2%;
  padding-left: 15%;  
  padding-bottom: .5%;
   }


#footer-right h2{
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 1px ;
}

#footer-right h1{
  font-size: 30px;
  color: #ffffff;
  padding-bottom: 0.5%;
}

#footer-right  {
  color: #ccc;
}


  .foot li {
    background: #bbbdbf;
  }



  .small {
    background: #bbbdbf;
  }

  .breadcrumbs {
  
    color: black;
  }

   .contact {
    padding-left: 16%;
    background: #bbbdbf;

   }

   .social {
    padding-left: 16%;
    background: #bbbdbf;

   }

   a:link {
    color: #ccc;
  }
  /* visited link */
  a:visited {
    color: #ccc;
  }
  /* mouse over link */
  a:hover {
    color: #ccc;
  }
  /* selected link */
  a:active {
    color: #ccc;
  }
